<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!--配置全局初始化参数方法： -->
    <context-param>
        <param-name>charset</param-name>
        <param-value>utf-8</param-value>
    </context-param>


    <!--第一Servlet程序 -->
    <!--配置映射-->
    <servlet>
        <description>第一Servlet程序</description>
        <display-name>MyFirstServlet</display-name><!--// 类的显示名称 -->
        <servlet-name>MyFirstServlet</servlet-name><!--// 1. 类的别名 -->
        <servlet-class>cn.h_dj.servlet.basic.MyFirstServlet</servlet-class><!--// 类的名称 -->
    </servlet>
    <servlet-mapping>
        <servlet-name>MyFirstServlet</servlet-name><!--// 2. 类的别名 ： 与1.要相同-->
        <url-pattern>/MyFirstServlet</url-pattern><!--// 请求此类的对应URL -->
    </servlet-mapping>


    <!--配置程序启动访问页面-->
    <welcome-file-list>
        <welcome-file>/MyFirstServlet</welcome-file>
    </welcome-file-list>
</web-app>
